<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Notify", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">             <li><%= link_to "New Thread", new_forum_thread_path %></li>
      </ul>
    </nav>
  </div>
</header>
